@import url('https://fonts.cdnfonts.com/css/luminari');

body{
    background:lightyellow;
}
.header1{
  text-align: center;
  font-family: "Luminari", sans-serif;
  font-size:40px;
  min-width: 200px;
}
.h1div{
    display:block;
    margin-left:auto;
    margin-right:auto;
    height: 10%;
    max-width: 1000px;
    min-width:500px;
    border: 5px solid black;
    border-radius: 50px;
    background: linear-gradient(#ebdef1, #d2ace4);
}
.main{
    height: 60%;
    max-width: 1000px;
    min-width: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color:#ebdef1;
    border:5px solid black;
    border-radius:50px;
    align-items:center;
    
}
.des{
    text-align:center;
    font-family:"Luminari", sans-serif;
    font-size: 20px
}
hr{
    height:2px;
    width:90%;
    background-color:black;
    border-color:black;
}
.click{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 10px;
}
.button{
    width:80%;
    background-color:#ebdef1;
    border-color: #d2ace4;
    border-radius: 20px;
    font-size: 17px;
    
}
a{
    text-decoration: none;
}
